@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 258px; /* Width of new image */
  height: 232px; /* Height of new image */
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

h2.title {
  color: #111;
  font-family: Lato-Bold;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 20px 0 22px;
  text-align: center;
}

p.desc {
  color: #111;
  font-family: Lato-Regular;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  margin: 5px 0 40px;
  text-align: center;
}

p.info {
  color: #111;
  font-family: Lato-Bold;
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  margin: 20px 0 2px;
  text-align: center;
}

p.date {
  color: #111;
  font-family: monospace;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin: 20px 0 42px;
  text-align: center;
}

p.link {
  color: #111;
  font-family: Lato-Bold;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  margin: 0px 0 42px;
  text-align: center;
}

.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  // background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  // height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 20vh;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px;
}

.wrap-table100 {
  width: 1170px;
}

.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 20px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 25px;
  padding-bottom: 0px;
}

.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

.table100.ver1 th {
  // font-family: Lato-Bold;
  font-family: monospace;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;

  background-color: #6c7ae0;
}

.table100.ver1 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #778899;
}

a {
  color: #111;
  font-family: Lato-Bold;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  margin: 20px 0 2px;
  text-align: center;
}

code, .code,
pre {
  font-family: 'monospace';
  background: $char;
  color: $lightGray;
  font-size: 13px;
  padding: 0;
  padding: 10px;
  &:before {
    display: block;
    width: calc(100%);
    margin-left: -3px;
    margin-top: -3px;
    padding: 3px;
    text-transform: uppercase;
    content: attr(data-lang);
    background: $medBlue;
  }
  .o {
    color: orange;
  }
  .w {
    color: white;
  }
}

table.greyGridTable {
  border: 2px solid #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  border-collapse: collapse;
}

table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}

table.greyGridTable tbody td {
  font-size: 13px;
}

table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}

table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #003c43;
}

table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #003c43;
  text-align: center;
  border-left: 2px solid #003c43;
}

table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #003c43;
  border-top: 4px solid #003c43;
}

table.greyGridTable tfoot td {
  font-size: 14px;
}
